.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    background-color: rgb(176, 175, 175);
    border-radius: 2rem;
}